<div class="max-w-2xl mx-auto">
  <div id="default-carousel" class="relative rounded-lg overflow-hidden shadow-lg">
    <div class="relative h-80 md:h-96">
      <div class="duration-700 ease-in-out">
        <img
          [src]="items[currentItem()].path"
          class="object-cover w-full h-full"
          [alt]="items[currentItem()].name"
        />
      </div>

      <div class="hidden duration-700 ease-in-out">
        <img
          src="https://flowbite.com/docs/images/carousel/carousel-3.svg"
          class="object-cover w-full h-full"
          alt="Slide 3"
        />
      </div>
    </div>

    <button
      type="button"
      class="flex cursor-pointer absolute top-1/2 left-3 z-40 items-center justify-center w-10 h-10 bg-gray-200/50 rounded-full hover:bg-gray-300 focus:outline-none transition"
      (click)="cancelSilder(); previous()"
    >
      <!-- pre controls -->
      <svg
        class="w-5 h-5 text-gray-600"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>
    <!-- next controls -->
    <button
      type="button"
      class="flex cursor-pointer absolute top-1/2 right-3 z-40 items-center justify-center w-10 h-10 bg-gray-200/50 rounded-full hover:bg-gray-300 focus:outline-none transition"
      (click)="cancelSilder(); next()"
    >
      <svg
        class="w-5 h-5 text-gray-600"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </div>
</div>
